.app {
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.portfolio-kanban {
    overflow-y: hidden;
}

.portfolio-kanban .no-type-text {
    text-align: center;
}

.portfolio-kanban .typeCombo {
    float: right;
}

.portfolio-kanban .readyIndicator {
    visibility: hidden;
}

.portfolio-kanban .timeInState {
    border-top: 1px dotted #CCC;
    color: #666;
    margin-top: 5px;
    padding-top: 5px;
}

.portfolio-kanban .showPolicies {
    font-family: ProximaNovaSemiBold, Helvetica, Arial;
    font-weight: normal;
    float: right;
    margin: 1px 10px 6px 0;
}

.portfolio-kanban .showPolicies  label {
    position: relative;
    top: 1px;
    margin-top: 0;
    padding-left: 4px;
}

.portfolio-kanban .showPolicies .showPoliciesCheckbox {
    position: relative;
    margin-top: 0;
}

.portfolio-kanban .settingsHeader {
    float: left;
    color: gray;
    padding: 1px 0 0 10px;
}

.portfolio-kanban .settingsHeader b {
    padding-right: 5px;
}

.portfolio-kanban .help-field {
    float: right;
}

.portfolio-kanban .field-picker-btn {
    height: 22px;
    margin-top: 3px;
}